<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div class="admin-page">
    <p-card header="Products" subheader="List of all products">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button
                            styleClass="p-button-success"
                            label="New"
                            icon="pi pi-plus"
                            routerLink="form"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="products" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th>Image</th>
                            <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon></th>
                            <th pSortableColumn="stock" style="width:20%">Stock <p-sortIcon field="stock"></p-sortIcon></th>
                            <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon></th>
                            <th pSortableColumn="created" style="width:20%">Created at <p-sortIcon field="created"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.image}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.countInStock}}</td>
                            <td>{{product.category.name}}</td>
                            <td>{{product.dateCreated}}</td>
                            <td>
                                <button
                                    (click)="deleteProduct(product.id)"
                                    pButton
                                    icon="pi pi-trash"
                                    type="button"
                                    class="p-button-danger mr-2"
                                ></button>
                                <button
                                    (click)="editProduct(product.id)"
                                    pButton
                                    icon="pi pi-pencil"
                                    type="button"
                                    class="p-button-success"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
