<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div class="admin-page">
    <p-card header="Categories" subheader="List of all categories">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button
                            styleClass="p-button-success"
                            label="New"
                            icon="pi pi-plus"
                            routerLink="form"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="categories" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="icon" style="width:20%">Icon <p-sortIcon field="icon"></p-sortIcon></th>
                            <th pSortableColumn="color" style="width:20%">Color <p-sortIcon field="color"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                        <tr>
                            <td>{{category.name}}</td>
                            <td>{{category.icon}}</td>
                            <td>
                                <i
                                    class="pi pi-circle-on"
                                    style="font-size: 2rem;"
                                    [ngStyle]="{color: category.color}"
                                ></i>
                            </td>
                            <td>
                                <button
                                    (click)="deleteCategory(category.id)"
                                    pButton
                                    icon="pi pi-trash"
                                    type="button"
                                    class="p-button-danger mr-2"
                                ></button>
                                <button
                                    (click)="editCategory(category.id)"
                                    pButton
                                    icon="pi pi-pencil"
                                    type="button"
                                    class="p-button-success"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
